body {
    font-family: Arial, sans-serif;
    background-color: lightgray;

    flex-direction: column;
    align-items: center;
}

#messageBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    height: 500px;
    background: #ffffff;
    border-radius: 10px;
}

#roll {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    color: blue;
}

#messagesList {
    flex: 1;
    list-style: none;
    margin: 0;
    padding: 10px;
    overflow-y: auto;
    height: 400px;
    padding-right: 10px;
}

#menuOptions li {
    color: black
}

#messagesList li {
    color: black
}

input, button {
    border-radius: 6px;
    border: none;
    font-size: 15px;
}


#inputArea {
    display: flex;
    gap: 5px;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #f8f8f8;
}

#memberList {
    border: 1px solid black;
    border-radius: 3px;
    list-style: none;
    padding-left:0px;
    margin:0px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#memberList li {
    color: black;
    font-size: small;
    position: center;
    margin: 5px 0;
}

#sendButton{
    background-color: lawngreen;
}

